@import url('https://fonts.googleapis.com/css?family=Lexend+Zetta|Patua+One&display=swap');
.navbar{
    position: fixed!important;
    background: white!important;
    color: black!important;
}
.title_navbar{
    color: #00796b;
    font-family: 'Patua One', cursive!important;
}